* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

#logo2 {
    width: 180px;
    margin-right: 30px;
}

.zajimg {
    width: 60px;
	float: left;
	margin-right: 20px;
}

.violetborder {
    border: 5px solid #33083a;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
a, a:hover{
	text-decoration: none;
	color: black;
}

#violetmenu {
    width: 100%;
    background-color: #3a094a;
    font-size: 28px;
    padding: 10px;
    color: white;
    text-align: center;
}
p, dl{
	font-size: 110%;
}
body {
    background-size: cover;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: static;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: blue;
}
