* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
}
.chess{
    width: 400px;
    float: right;
}
body, html{
    color: white;
    font-family: 'Cabin', sans-serif;
    margin: 0;
    background: linear-gradient(black, blue);
    background-repeat:no-repeat;
    width: 100%;
    min-height: 100%;

}
.volley{
    float: right;
    padding-left: 15px;
    width: 130px;
}
.chris{
    float: left;
    padding-right: 15px;
    width: 100px;
}

#logo2{
    background-size: 50%;    
}

#violetmenu{
    height: 40px;
    width: 100%;
    background-color: #3a094a;
    padding: 10px;
    position: static;
}
h1, h3{
    color: yellow;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: black;
}
ul li{
    float: left;
    min-width: 200px;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: darkblue;
    text-decoration: none;
    color: white;
    }    
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
    width: 100%;
}
h1{
    padding: 20px;
}
p{
 font-size: 120%;   
}
a{
    text-decoration: none;
    color: black;
}